# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.out
*.sim
*.map
*.o
*.xcl
*.pbi
*.pdb
*.wsdt
*.crun
*.cspy
*.dnx
*.dbgdt
*.crun
*.dep
*.map
*.pbd
*.browse
*.linf
*.pbd.linf
*.pbw
*.bat
*.cspy.bat
*.cspy
*.cspy.ps1

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.map


HexapodFW/Debug/List/LEDBlinker.map
HexapodFW/Debug/List/LEDBlinker.map
*.map
HexapodFW/Debug/Obj/LEDBlinker.pbd
HexapodFW/Debug/Obj/LEDBlinker.pbd.browse
HexapodFW/Debug/Obj/LEDBlinker.pbd.linf
HexapodFW/Debug/Obj/LEDBlinker.pbw
HexapodFW/LEDBlinker.dep
HexapodFW/settings/LabBlinker.wsdt
HexapodFW/settings/LEDBlinker.dbgdt
*.dep
*.wsdt
*.crun
*.dbgdt
*.dnx
HexapodFW/LEDBlinker.dep
HexapodFW/settings/LabBlinker.wsdt
HexapodFW/settings/LEDBlinker.Debug.cspy.bat
HexapodFW/settings/LEDBlinker.Debug.cspy.ps1
HexapodFW/settings/LEDBlinker.Debug.driver.xcl
HexapodFW/settings/LEDBlinker.Debug.general.xcl
HexapodFW/settings/LEDBlinker.dnx
HexapodFW/LEDBlinker.dep
HexapodFW/settings/LabBlinker.wsdt
HexapodFW/settings/LEDBlinker.dnx
